* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --text-color: rgb(189, 15, 15);
    --bg-url: #0a0a0a;
    --stroke-color: rgba(189, 15, 15, 0.5);
    --surface-color: rgba(15, 93, 189, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(15, 93, 189, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: rgb(0, 0, 0);
    --bg-url: #ffffff;
    --stroke-color: rgba(15, 44, 87, 0.5);
    --surface-color: rgba(15, 44, 87, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(15, 44, 87, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    min-height: 100vh;
    background: var(--bg-url);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 80px;
}

.container {
    position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: center;
    display: flex;
}

.bubbles span {
    position: cen;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

header img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 1.4px solid var(--text-color);
}

header p {
    margin-block: 15px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--text-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 15px;
    padding: 15px 140px;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link ion-icon {
    font-size: 20px;
}

.link > span {
    margin-left: 8px;
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-block: 30px;

    header img {
        height: 100px;
        width: 100px;
    }
    }

    .link {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 400px) {

}